In [18]:
import pandas as pd

In [33]:
phase_df = pd.read_csv("C:/Users/cosmo/Desktop/Random Scripts/Co-Speech Gesture Automation/Co-Speech-Gesture-Automation/ANNOTATIONS/5003_I_right_wrist_annotations.csv")

# Identify change points for gesture_t
phase_df['change_points'] = phase_df['phase'].shift(1) != phase_df['phase']
phase_df['time_ms'] = phase_df['time_ms'] / 1000

# Group by change points and calculate 'Begin Time' and 'End Time'
grouped_df = phase_df.groupby((phase_df['change_points']).cumsum())
gphase_df = pd.DataFrame({
    'Begin Time': grouped_df['time_ms'].first(),
    'End Time': grouped_df['time_ms'].last(),
    'Gesture Phase': grouped_df['phase'].first(),
})

# Add 10ms to 'End Time'
gphase_df['End Time'] = gphase_df['End Time'] + 0.01  # convert 10ms to seconds

gphase_df.to_csv("C:/Users/cosmo/Desktop/Random Scripts/Co-Speech Gesture Automation/Co-Speech-Gesture-Automation/ANNOTATIONS/5003_I_right_wrist_phase_elan_annotations.csv", index=False)

In [34]:
gphase_df

               Begin Time  End Time Gesture Phase
change_points
1                    0.00      0.01          None
2                    0.01      0.02          None
3                    0.02      0.03          None
4                    0.03      0.04          None
5                    0.04      0.05          None
...                   ...       ...           ...
69229              905.73    905.74          None
69230              905.74    905.75          None
69231              905.75    905.76          None
69232              905.76    905.77          None
69233              905.77    905.78          None

[69233 rows x 3 columns]

In [35]:
apex_df = pd.read_csv('C:/Users/cosmo/Desktop/Random Scripts/Co-Speech Gesture Automation/Co-Speech-Gesture-Automation/ANNOTATIONS/5003_I_right_wrist_annotations.csv')

# Identify change points for gesture_t
apex_df['change_points'] = apex_df['apex'].shift(1) != apex_df['apex']
apex_df['time_ms'] = apex_df['time_ms'] / 1000

# Group by change points and calculate 'Begin Time' and 'End Time'
groupedapex_df = apex_df.groupby((apex_df['change_points']).cumsum())
apex_df = pd.DataFrame({
    'Begin Time': groupedapex_df['time_ms'].first(),
    'End Time': groupedapex_df['time_ms'].last(),
    'apex': groupedapex_df['apex'].first(),
})

# Add 10ms to 'End Time'
apex_df['End Time'] = apex_df['End Time'] + 0.01  # convert 10ms to seconds

apex_df.to_csv('C:/Users/cosmo/Desktop/Random Scripts/Co-Speech Gesture Automation/Co-Speech-Gesture-Automation/ANNOTATIONS/5003_I_right_wrist_apex_elan_annotations.csv', index=False)

In [36]:
apex_df

               Begin Time  End Time  apex
change_points
1                    0.00      0.01  None
2                    0.01      0.02  None
3                    0.02      0.03  None
4                    0.03      0.04  None
5                    0.04      0.05  None
...                   ...       ...   ...
90574              905.73    905.74  None
90575              905.74    905.75  None
90576              905.75    905.76  None
90577              905.76    905.77  None
90578              905.77    905.78  None

[90578 rows x 3 columns]